body {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  background-color: #0a2351; /* Brewers' Navy Blue */
  color: #ffb517; /* Brewers' Gold */
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ffffff;
  color: #0a2351;
  border: none;
  border-radius: 5px;
  font-family: 'Permanent Marker', cursive;
}

#currentCount, #raceWins {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

li {
  margin: 5px 0;
}

/* Styles for Live BP Pitch Type Buttons */
#pitchTypeSelection #fourSeam,
#pitchTypeSelection #twoSeam,
#pitchTypeSelection #cutter {
  background-color: #274472;
  color: white;
}

#pitchTypeSelection #curveBall,
#pitchTypeSelection #slider {
  background-color: #d3a625;
  color: white;
}

#pitchTypeSelection #changeup,
#pitchTypeSelection #splitter {
  background-color: #3c8ddb;
  color: white;
}

/* Zone Colors */
.locationBtn.strikeZone, .heatmapBtn.strikeZone {
  background-color: yellow;
}

.locationBtn.shadowZone, .heatmapBtn.shadowZone {
  background-color: lightblue;
}

.locationBtn.nonCompetitiveZone, .heatmapBtn.nonCompetitiveZone {
  background-color: navy;
  color: white;
}


/* Royal Blue Shades for CH, SP */
#changeup, #splitter {
background-color: #3c8ddb; /* Lighter Royal Blue */
color: white;
}

#r2kButtons {
display: block;
}

#putawayButtons {
display: none;
}

button {
margin: 10px;
padding: 15px;
font-size: 1.2em;
}

#pitchLocationSelection {
  text-align: center;
}

#pitchLocationContainer {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically, optional */
  width: 100%;
  height: 100%;
  margin: auto;
}

#pitchLocationGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1px;
  justify-items: center;
  width: fit-content;
  margin: auto;
}



/* Styles for completed count log */
#countLog {
margin-top: 20px;
padding: 0;
max-width: 400px;
margin-left: auto;
margin-right: auto;
}

#countLog li {
background-color: #ffb517;
color: #0a2351;
padding: 10px;
border-radius: 5px;
}

.comboPitchTypeBtn {
  background-color: #007bff; /* Initial color */
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.comboPitchTypeBtn.selected {
  background-color: #28a745; /* Color when selected */
}
.comboPitchTypeBtn {
  background-color: #007bff; /* Initial color */
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.comboPitchTypeBtn.selected {
  background-color: #28a745; /* Color when selected */
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

#pointsContainer {
  text-align: center;
  margin: 20px 0;
  display: none;
}

#pointsDisplay {
  font-size: 36px; /* Increase font size */
  font-weight: bold;
  color: #ff5722; /* Bright color */
}

#comboPitchTypesDisplay {
  font-size: 18px;
  color: #555;
}

@keyframes slideOut {
  0% { opacity: 1; transform: translateX(0); }
  100% { opacity: 0; transform: translateX(100px); }
}

.heatmapBtn {
  pointer-events: none;
}

#pitchLog li.selectable {
  cursor: pointer;
}

#pitchLog li.selected {
  background-color: lightblue;
}

/* Styling for selected flag buttons */
.flagBtn.selected {
  border: 2px solid blue;
}

/* Styling for flag emoji */
.flagEmoji {
  margin-left: 10px;
  cursor: help;
}




